@model RecommendFood.Models.Dto.FoodDetail

@{
    ViewData["Title"] = "Detail";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="sub_page">
        <div class="breadcumb-area" style="background-image: url(/Page/img/bg-img/bg-pattern.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="bradcumb-title text-center">
                            <h2>Our Menu</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcumb-nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Introduce/Index"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a></li>
                                <li class="breadcrumb-item " aria-current="page">Món ăn</li>
                                <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    <section class="food_section section_padding_30_80">
        <div class="container">
        <br />

    <h1>Cách làm</h1>
    <div>
        <h3>@Html.DisplayFor(model => model.Name)</h3>
        <hr />
        <div class="row">
            <dl class="col-md-6">
                <div class="row">
                    <dt class="col-sm-4">
                        Tên món:
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model=>model.Name)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                                    Định lượng:
                                </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model=>model.Quantity) @Html.DisplayFor(model=>model.Unit)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                            Danh mục:
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model=>model.Category) 
                    </dd>
                </div>
                <div class="row">
                    @*<dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-md-4">
                        @Html.DisplayFor(model=>model.Category)
                    </dd>*@
                    <dt class="col-sm-4">
                        Nhóm tuổi: 
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model=>model.BabyAge)
                    </dd>
                </div>
                <div class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Protein)
                    </dt    >
                        <dd class="col-md-8">
                            @Html.DisplayFor(model=>model.Protein)g
                        </dd    >
                </div>
                <div class="row">
                            <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Fat)
                    </dt    >
                            <dd class="col-md-8">
                            @Html.DisplayFor(model=>model.Fat)g
                        </dd    >
                </div>
                <div class="row">
                    @*<dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Protein)
                    </dt>
                    <dd class="col-md-2">
                        @Html.DisplayFor(model=>model.Protein)g
                    </dd>*@
                    @*<dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Fat)
                    </dt>
                    <dd class="col-md-2">
                        @Html.DisplayFor(model=>model.Fat)g
                    </dd>*@
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Glucin)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model=>model.Glucin)g
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        Năng lượng:
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model=>model.Energy)
                    </dd>
                </div>
            </dl>
                <div class="col-sm-6" style="display: flex;justify-content: center">
                <img src="@Model.Thumbnail" @*width="300" height="300" *@/>
            </div>
        </div>
        <hr />
        <h4>
            Nguyên liệu
        </h4>
        <div>
            @Html.Raw(Model.Recipe)
        </div>
        <hr />
        <h4>
            Hướng dẫn nấu nướng
        </h4>
        <div>
            @Html.Raw(Model.MakingProcess)
        </div>
    </div>
    <div>
        <a asp-action="Loc">Quay lại</a>
    </div>
        </div>

        @*<hr />

        <h3>Bình luận đánh giá</h3>

        @if (Model.Comments != null && Model.Comments.Count > 0)
        {
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li>
                        <p>@comment.CommentMsg</p>
                        <p>Rating: @comment.Rate</p>
                        <p>By: @comment.User.Email</p>
                        <p>Posted at: @comment.CreatAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Chưa có bình luận nào!</p>
        }

        <hr />

        <h3>Thêm bình luận</h3>

        <form method="post" action="/Food/AddComment">
            <input type="hidden" name="foodItemId" value="@Model.Id" />

            <div>
                <label for="content">Bình luận:</label>
                <textarea id="content" name="content"></textarea>
            </div>

            <div>
                <label for="rating">Rating:</label>
                <select id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div>
                <input type="submit" value="Add Comment" />
            </div>
        </form>*@
    </section>
</div>
</body>
</html>