@using RecommendFood.Models.Entity;
@model List<RecommendFood.Models.Entity.News>;
@{
    ViewBag.Title = "Introduce";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!-- ****** Welcome Post Area Start ****** -->
    <section class="welcome-post-sliders owl-carousel">
        @foreach(var item in Model)
        {
            <div class="welcome-single-slide">
                <!-- Post Thumb -->
                <img width="500" height="702" src=@item.Thumbnail alt="">
                <!-- Overlay Text -->
                <div class="project_title">
                    <div class="post-date-commnents d-flex">
                        <a href="#">@item.CreateAt.ToString("dddd, dd MMMM yyyy")</a>
                        @*<a href="#">5 Comment</a>*@
                    </div>
                    <a asp-action="Details" asp-route-id=@item.Id>
                        <h5>@item.Title</h5>
                    </a>
                </div>
            </div>
        }
    </section>
    <!-- ****** Welcome Area End ****** -->
    <!-- ****** Categories Area Start ****** -->
    <section class="categories_area clearfix" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
                        <img src="/uploads/04/Anh1.jpg" alt="">
                        <div class="catagory-title">
                            <a asp-controller="Food" asp-action="Loc" asp-route-id="4">
                                <h5>Main Meal</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".6s">
                        <img src="/uploads/04/snack.jpg" alt="">
                        <div class="catagory-title">
                            <a asp-controller="Food" asp-action="Loc" asp-route-id="5">
                                <h5>Snacks</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".9s">
                        <img src="/uploads/04/smoothies.jpg" alt="">
                        <div class="catagory-title">
                            <a asp-controller="Food" asp-action="Loc" asp-route-id="6">
                                <h5>Smoothies</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Categories Area End ****** -->
    <!-- ****** Blog Area Start ****** -->
    <section class="blog_area section_padding_0_80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row">

                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src=@Model.ElementAt(0).Thumbnail alt=@Model.ElementAt(0).Href_param>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">By Linh</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">@Model.ElementAt(0).CreateAt.ToString("dddd, dd MMMM yyyy")</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="Details" asp-route-id="@Model.ElementAt(0).Id">
                                        <h2 class="post-headline">@Model.ElementAt(0).Title</h2>
                                    </a>
                                    <p>@Model.ElementAt(0).ShortContent</p>
                                    <a asp-action="Details" asp-route-id="@Model.ElementAt(0).Id" class="read-more">Continue Reading..</a>
                                </div>
                            </div>
                        </div>

                        @{
                            var randomNews = (List<News>)ViewBag.newsRandom;
                        }
                        @foreach(var item in randomNews)
                        {
                            <!-- Single Post -->
                            <div class="col-12 col-md-6">
                                <div class="single-post wow fadeInUp" data-wow-delay=".4s">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img width="300" height="250" src=@item.Thumbnail alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <div class="post-meta d-flex">
                                            <div class="post-author-date-area d-flex">
                                                <!-- Post Author -->
                                                <div class="post-author">
                                                    <a href="#">By Linh</a>
                                                </div>
                                                <!-- Post Date -->
                                                <div class="post-date">
                                                    <a href="#">@item.CreateAt.ToString("dddd, dd MMMM yyyy")</a>
                                                </div>
                                            </div>
                                        </div>
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            <h4 class="post-headline">@item.Title</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- ******* List Blog Area Start ******* -->
                        @{
                            var randomNews1 = (List<News>)ViewBag.newsRandom1;
                        }
                        @foreach(var item in randomNews1)
                        {
                            <!-- Single Post -->
                            <div class="col-12">
                                <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".2s">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img width="350" height="230" src=@item.Thumbnail alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <div class="post-meta d-flex">
                                            <div class="post-author-date-area d-flex">
                                                <!-- Post Author -->
                                                <div class="post-author">
                                                    <a href="#">By Linh</a>
                                                </div>
                                                <!-- Post Date -->
                                                <div class="post-date">
                                                    <a href="#">@item.CreateAt.ToString("dddd, dd MMMM yyyy")</a>
                                                </div>
                                            </div>
                                        </div>
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            <h4 class="post-headline">@item.Title</h4>
                                        </a>
                                        <p>@item.ShortContent</p>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="read-more">Continue Reading..</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- ****** Blog Sidebar ****** -->
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="blog-sidebar mt-5 mt-lg-0">
                        <!-- Single Widget Area -->
                        <div class="single-widget-area about-me-widget text-center">
                            <div class="widget-title">
                                <h6>About Me</h6>
                            </div>
                            <div class="about-me-widget-thumb">
                                <img src="/Page/img/about-img/Linh.jpg" />
                            </div>
                            <h4 class="font-shadow-into-light">Linh</h4>
                            <p>Khi bạn không thể tìm thấy ánh nắng mặt trời, hãy là ánh nắng mặt trời.</p>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area subscribe_widget text-center">
                            <div class="widget-title">
                                <h6>Subscribe &amp; Follow</h6>
                            </div>
                            <div class="subscribe-link">
                                <a href="https://www.facebook.com/profile.php?id=100004146017153"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://github.com/Linh78"><i class="fa fa-github" aria-hidden="true"></i></a>
                                <a href="https://join.skype.com/invite/r6Kj3g8zASYo"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/thuy_linh_25_8/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area popular-post-widget">
                            <div class="widget-title text-center">
                                <h6>Populer Post</h6>
                            </div>
                            @{int i = 0;}
                            @foreach (var item in Model)
                            {
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src=@item.Thumbnail alt=@item.Href_param>
                                    <div class="post-content">
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            <h6>@item.Title</h6>
                                        </a>
                                        <p>@item.CreateAt.ToString("dddd, dd MMMM yyyy")</p>
                                    </div>
                                </div>
                                i++;
                                if (i > 6)
                                {
                                    break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Blog Area End ****** -->
    <!-- ****** Instagram Area Start ****** -->
    <div class="instargram_area owl-carousel section_padding_100_0 clearfix" id="portfolio">

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/1.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/2.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/3.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/4.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/5.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/6.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/1.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Item -->
        <div class="instagram_gallery_item">
            <!-- Instagram Thumb -->
            <img src="/Page/img/instagram-img/2.jpg" alt="">
            <!-- Hover -->
            <div class="hover_overlay">
                <div class="yummy-table">
                    <div class="yummy-table-cell">
                        <div class="follow-me text-center">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
